In [1]:
import pandas as pd

In [7]:
df = pd.read_csv('worldcities.csv')
df.drop(['lat', 'lng', 'admin_name', 'capital', 'population','id'], axis=1, inplace=True)
df.to_csv('autocomp_data.csv', sep=',', encoding='utf-8', index=False)
df.head()

        city city_ascii      country iso2 iso3
0      Tokyo      Tokyo        Japan   JP  JPN
1    Jakarta    Jakarta    Indonesia   ID  IDN
2      Delhi      Delhi        India   IN  IND
3     Manila     Manila  Philippines   PH  PHL
4  São Paulo  Sao Paulo       Brazil   BR  BRA